/* Reset default list styles */
li {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 0px;
  margin-bottom: 10px;
}

/* Center the form vertically and horizontally */
.find-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

/* Style the input box */
.find-user form {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.find-user .form-group input[type="text"] {
  border: none;
  border-bottom: 2px solid #0366d6;
  padding: 0.5rem;
  width: 20rem;
  outline: none; /* Remove the default input outline */
}

/* Add a box shadow to the card for elevation */
.result .github-user  {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(22, 23, 22, 1);
  margin-top: 2rem;
  color: aliceblue;
  border: 1px solid #425b7a;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  transition: transform 0.2s, box-shadow 0.2s;
}

/* Add a hover effect to the card */
.result .github-user .details:hover {
  transform: translateY(-5px); /* Move the card up on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Style the user's avatar */
.result .github-user .details img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* Style the user's name */
.result .github-user .details h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

/* Style the user's bio */
.result .github-user .details p {
  font-size: 1rem;
  text-align: center;
}
